<div class="modal" id="contact-modal" >
  <div class="modal__content">
    <button class="modal__close" type="button" >
      <img src="/assets/images/cancel.svg" alt="close">
    </button>
    <form action="" class="form cabinet__global form--center" method="post">
      <div class="form__group form__group--md">
        <div class="form__group form__group--md">
          <input class="form__control" type="text" placeholder="Ваше имя" >
        </div>
        <input class="form__control" type="email" placeholder="Ваш E-mail">
      </div>
      <div class="form__group form__group--md">
        <input class="form__control" type="text" placeholder="Текст сообщения">
      </div> 
            <div class="form__footer ">
        <div class=" form__group form__group--md">
          <button type="submit" class="btn btn--blue btn--rounded  btn--sm">Отправить</button>
        </div>
            </div>
           
           <div class="modal__footer">
             <ul class="modal__footer__list" >
               <li class="modal__footer__item" >
                 <a href="">e-mail: <span>info@mywebsite.ru</span></a>
               </li>
               <li class="modal__footer__item" >
                 <a href="">тел: <span>+943-232-856-22</span></a>
               </li>
             </ul>
           </div>

        </form>
  </div>
</div>