 <!-- ЛЕВАЯ ЧАСТЬ САЙТА -->
<header class="header">
  <div class="header_left">
    <nav class="nav">
      <ul class="nav_list">
        <li>
          <a href="http://localhost:3000/" class="nav_link">ГЛАВНАЯ</a>
        </li>
        <li class="nav_item">  <!-- Тег ли покрывает suban -->
          <a href="#" class="nav_link  has-subnav">СТАТЬИ</a>
          <!-- ПОДНАВИГАЦИЯ -->

          <ul class="subnav">
            <li>
              <a href="http://localhost:3000/create_site_page.html" class="subnav_link">Создание сайтов</a>
            </li>
            <li>
              <a href="/" class="subnav_link">Интернет маркетинг</a>
            </li>
            <li>
              <a href="/" class="subnav_link">Продвижение видео</a>
            </li>
          </ul>
        </li>
 <!-- ПОДНАВИГАЦИЯ -->
        <li>
          <a href="http://localhost:3000/works.html" class="nav_link">МОИ ПРОЕКТЫ</a>
        </li>
        <li>
          <a href="#" class="nav_link">РЕКЛАМА</a>
        </li>
      </ul>
    </nav>
 <!-- ПРАВАЯ ЧАСТЬ САЙТА -->
  </div>
  <div class="header_right">
    <nav>
      <ul class="nav_list">
        <li>
          <a href="profile.html" class="nav_link">Профиль</a>
        </li>
        <li>
          <a href="signup.html" class="nav_link">Регестрация</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="http://localhost:3000/search.html"  method="get" >
      <input type="text" class="search_input" placeholder="Поиск по блогу" >
    </form>
  </div>
</header>
