 <!-- ЛЕВАЯ ЧАСТЬ САЙТА -->
<header class="header">
  <div class="header_left">
    <nav class="nav">
      <ul class="nav_list">
        <li>
          <a href="#" class="nav_link">ГЛАВНАЯ</a>
        </li>
        <li class="nav_item">  <!-- Тег ли покрывает suban -->
          <a href="#" class="nav_link  has-subnav">СТАТЬИ</a>
          <!-- ПОДНАВИГАЦИЯ -->

          <ul class="subnav">
            <li>
              <a href="/" class="subnav_link">Создание сайтов</a>
            </li>
            <li>
              <a href="/" class="subnav_link">Интернет маркетинг</a>
            </li>
            <li>
              <a href="/" class="subnav_link">Продвижение видео</a>
            </li>
          </ul>
        </li>
 <!-- ПОДНАВИГАЦИЯ -->
        <li>
          <a href="#" class="nav_link">ОБО МНЕ</a>
        </li>
        <li>
          <a href="#" class="nav_link">РЕКЛАМА</a>
        </li>
      </ul>
    </nav>
 <!-- ПРАВАЯ ЧАСТЬ САЙТА -->
  </div>
  <div class="header_right">
    <nav>
      <ul class="nav_list">
        <li>
          <a href="#" class="nav_link">Профиль</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="/" method="post" >
      <input type="text" class="search_input" placeholder="Поиск по блогу" >
    </form>
  </div>
</header>
