<div class="modal">
  <div class="modal__content modal__content--pd4">
           <button class="modal__close" type="button" >
            <img src="/assets/images/cancel.svg" alt="close">
          </button>
          <ul class="social">
            <li class="social_item">
              <a href="/" class="social_link" >
                <img src="/assets/images/share-modal/fb_1.svg" alt="">
              </a>
            </li>
            <li class="social_item">
              <a href="/" class="social_link" >
                <img src="/assets/images/share-modal/tw_2.svg"  alt="">
              </a>
            </li>
            <li class="social_item">
              <a href="#" class="social_link" >
                <img src="/assets/images/share-modal/vk_3.svg" alt="">
              </a>
            </li>
            <li class="social_item">
              <a href="#" class="social_link" >
                <img src="/assets/images/share-modal/copy_4.svg" alt="">
              </a>
            </li>
          </ul>
  </div>
</div> <!-- /modal-->