<aside class="sidebar">
  <div class="sidebar_header">
    <img src="/assets/images/footer_header.png" alt="logo">
  </div>
  <div class="sidebar_content">
    <div class="profile">
      <img class="profile_avatar"src="http://placehold.it/100" alt="avatar ">
      <div class="profile_name">Валерий Чегодайкин</div>
      <div class="profile_prof">блог front-end разработчика</div>
      <ul class="social">
        <li class="social_item">
          <a href="#" class="social_link" target="blank">
            <img src="/assets/images/social/instagram.svg" alt="instagram">
          </a>
        </li>
        <li class="social_item">
          <a href="#" class="social_link" target="blank">
            <img src="/assets/images/social/vk.svg" alt="vk">
          </a>
        </li>
        <li class="social_item">
          <a href="#" class="social_link" target="blank">
            <img src="/assets/images/social/pinteres.svg" alt="pinteres">
          </a>
        </li>
      </ul>
      <div class="profile_text">
        <p>Front-end разработчик. Практик верстки сайтов.

          Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.</p>
      </div>
    </div>
  </div>
  <div class="sidebar_footer">
    <a href="" class="btn  btn--red">Мои работы</a>
    <button type="button" class="btn  btn--blue">Написать мне</button>
  </div> 
</aside>