@import "mixin.scss";

.btn {
  display: inline-block; //чтобы паддинги корректно работа
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.1rem;
  color: white;
  background: black;
  border: none;
  text-decoration: none;
  padding: 1.1em 2.1em;
  border-radius: 3em;
  transition: background-color .2s linear;
}

.btn--red {
  @include btn_transition ($red, $red, $red)
}
.btn--blue {
  @include btn_transition ($blue, $blue, $blue)
}
