.comments {
  margin-top: 3rem;

}
.comments__item {
  margin-bottom: 3rem;
  margin-top: 0;
  >.comments {
    padding-left: 3rem;
  }
}
.comments_title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: white;
  font-weight: 500;
  margin-bottom: 2rem;
}

.comments {
  margin-top: 5rem;
}
.comments__name {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.comments__pubdate {
font-size: 1.2rem;
line-height: 1.4rem;
color: #757575;
}

.comments__item { 
list-style-type:none;
}

.comments__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .comments__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  margin-bottom: 1.5rem;
}
.comments__autor {
  flex-grow: 1;
padding-left: 1.5rem;
}
.comments_text {
  font-size: 1.2rem;
  color:  white;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.comments__reply {
  font-family: inherit;
  text-decoration: none;
  color: $blue;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background: none;
  transition: color .5s linear;
  &:hover {
    color: darken($blue, 10%);
  }
}