.pagination {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  @include breakpoint($mobile-bp) {
    margin-top: 5rem;
}
}
.pagination__item {
  margin: 0 .5rem;
}
.pagination_link {
  line-height: 4rem;
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: #0D0D0D;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4rem;
  color: $white_text;
  text-decoration: none;
  transition: background-color .5s linear;
  box-shadow: 0 0 10px rgba($black, .15);
  &:hover {
    background-color: lighten(#0D0D0D, 5%);
  }
  &.active {
    background-color: $blue;
    box-shadow: 0 0 10px rgba($blue, .30);
  }
}