.related {
  padding: 3rem 0 .5rem;
  border-bottom: 2px solid #1C1C1C;
}
.related__title {
  
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  &.related__title--mb2{
    margin-bottom: 2rem;
  }
}
.related__date {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: $gray_bg;
}
.related__list {
  display: flex;
  flex-wrap: wrap;
}
.related__item {
  margin-bottom: 2.5rem;
  width: 50%;
  
}
.related__title {
  font-size: 1.4rem;
  font-weight: 500;
a {
  transition: color .5s linear;
  text-decoration: none;
  color: #F3EBA2;
  &:hover {
    color: darken(#F3EBA2, 30%);
  }
}
}