.tags {
  margin-top: 3rem;
display: flex;
justify-content: space-between;
}
.tags__item {
background-color: #EA8C1E;
text-align: center;
padding: .4rem 1.1rem;
border-radius: 5px;
font-size: 1.1rem;
line-height: 1.3rem;
}
