
.profile_avatar{
display: block; 
margin: 0 auto; //выравниваем по центру
height: 10rem;
width: 10rem;
border: 2px solid white;
box-shadow: 0 7px 20px rgba(0, 0, 0, .25);
border-radius: 50%;
margin-bottom: 2rem;
}
.profile_name {
  font-size: 1.8rem;
line-height: 2.1rem;
text-align: center;
color: white;
}
.profile_prof {
  margin-bottom: 2rem;
  font-size: 1.4rem;
font-weight: 300;
color: #DEDEDE;
line-height: 2.1rem;
text-align: center;
}
.profile_text {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
}