.profile {
  @include breakpoint($tablet-bp) {
    position: relative;
  }
}
.profile_avatar{
display: block; 
margin: 0 auto; //выравниваем по центру
height: 10rem;
width: 10rem;
border: 2px solid white;
box-shadow: 0 7px 20px rgba(0, 0, 0, .25);
border-radius: 50%;
margin-bottom: 2rem;
@include breakpoint($tablet-bp)  {
  width: 6.5rem;
  height: 6.5rem;
  margin: 0;
  position: absolute;
  left: 0;
  margin-top: 3rem;
}
}
.profile__header {
  text-align: center;
  margin-bottom: 2rem;
  @include breakpoint($tablet-bp) {
    text-align: left;
    left: 0;
    padding-left: 8rem;
    padding-top: 5.4rem;
  }
}




.profile_name {
  font-size: 1.8rem;
line-height: 2.1rem;

color: white;
}
.profile_prof {
  @include breakpoint($tablet-bp) {
    font-size: 1.2rem;
  }
  font-size: 1.4rem;
font-weight: 300;
color: #DEDEDE;
line-height: 2.1rem;

}
.profile_text {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
  @include breakpoint($tablet-bp) {
    display: none;
    }
}