.sidebar {
  
  background-color: $black_bg;
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $z-index-sidebar;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);

  @include breakpoint($tablet-bp) {
    margin-top: 4rem;
transform: translateX(-100%);
transition: transform .5s linear;
overflow: auto;
.show-sidebar & {
  transform: translateX(0);
}
  }
}

.profile_avatar {
  position: relative;


}
.sidebar_header {
  height: 18rem;
  @include breakpoint($tablet-bp) {
   height: 10rem;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.sidebar_content {
  padding: 0 2rem;
  margin-top: -5rem;

}
.sidebar_footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.7rem;
}