/* ----- COLORS ----- */
$gray_bg: #828282;
$black_bg: #202020;
$white_text: #D2D2D2;
$red: #ED3024;
$blue: #3137C9;
/* ----- Z-INDEX ----- */
$z-index-sidebar: 100;

/* ----- SIZE ----- */
$sidebar-width: 300px;