/* ----- COLORS ----- */
$gray_bg: #828282;
$black_bg: #202020;
$white_text: #D2D2D2;
$red: #ED3024;
$blue: #3137C9;
$black: #0000;
/* ----- Z-INDEX ----- */
$z-index-sidebar: 100;
$z-index-modal: 1010;

/* ----- SIZE ----- */
$sidebar-width: 300px;
/* ----- MIXIN ----- */
$tablet-bp: 991px;