.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 15px 25px rgba($black, .45);
  background-color: #121212;
  border-radius: 5px;
}

.add-post__form {
  display: flex;
  align-items: center;

}
.add-post__textarea {
  flex-grow: 1;
  font-family: inherit;
  font-size: 1.5rem;
  color: $white_text;
  width: 80%;
  border: none;
  background: transparent;
  resize: none ;
  height: 25px;
  text-overflow: ellipsis; // показывает точки при скрытии контента
  overflow: hidden; // hidden content
  white-space: nowrap; // don’t give перенос текста за новую строку

  &::placeholder {
    color: #D2D2D2;
  }
}
.add-post-actions {
  display: flex;
  justify-content: space-around;
  width: 20%;
  flex-shrink: 0;
  width: 100px;
}
.add-post-file,
.add-post-send {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
input {
  display: none;
}
&:hover {
  background-color: darken(#EBEBEB, 15%);
}

}
.add-post-file {
  background: #EBEBEB url("../images/add-pic.svg") center no-repeat;
}
.add-post-send {
  background-color: $blue;
  border: none;
  &:hover {
    background-color: darken($blue, 10%);
  }
}
