@import "blocks/mixin.scss";

.nav {
  @include breakpoint ($tablet-bp){
display: none;
  }

  &--mobile {
  @include breakpoint ($tablet-bp){
    display: block;
   
}
}
}
.nav_list {
  display: flex;
  @include breakpoint ($tablet-bp){
    display: none;
      }
      &--mobile {
        display: none;
        @include breakpoint ($tablet-bp){
          display: block;
        
        }

      }
      }
/* Поднавигация */
.nav_item {
  position: relative;

  
   &:hover{
     
     > .subnav {
       display: block;
     }
     .nav_link {
      background-color: $blue;
     }
   }
 
   
}

.nav_link {
  padding: 1.4rem;
  transition: background-color .2s linear;
  
@include nav_links;
&:hover {
  background-color: $blue;
}
@include breakpoint ($tablet-bp){
font-size: 1.6rem;
     }


  &.has-subnav {
  position: relative;
  padding-right: 3.5rem; //отодвинули стрелочку вправо так как 
  &:after {
    margin-top: 1px; //чтобы стрелочка смотрелась по середине
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $white_text transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 1.35rem;
    transform: translateY(-50%); //выравнимаваем по вертикали
  }
}
@include breakpoint ($tablet-bp){
 padding-left: .5rem;
 padding-right: 0;
    }
}

.header_right {
  display: flex;
  justify-content: flex-end;
}
