.search {
  width: 100% ;
  max-width: 28rem;
  background-color: $black_bg;
}
.search_input {

  width: 100%;
  display: block;
  padding: 1.2rem;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: $white_text;
  &::placeholder {
    color: rgba($white_text, .4);
  }
}